.title, .welcome-message, .instructions {
  user-select: none;
}

.welcome-message, .instructions, .title, .thanks {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.welcome-message {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 16px;
  color: rgb(175, 175, 175);
}
.instructions, .thanks {
  font-size: 0.9rem;
  margin-top: 10px;
  color: rgb(153, 153, 153);
}
.thanks {
  font-size: 0.7rem;
  margin-top: 20px;
}
.thanks a {
  text-decoration: none;
  color: rgb(153, 153, 153);
  transition: 0.25s;
}
.thanks a:hover {
  color: rgb(224, 224, 224);
}
.title {
  cursor: pointer;
  text-shadow: 1px 4px 60px rgba(241, 241, 241, 0.25);
  font-weight: 500;
  margin-top: 160px;
  font-size: 2.5rem;
}
.title a:hover {
  text-shadow: 1px 10px 90px rgba(241, 241, 241, 0.95);
}
.title a {
  position: relative;
  transition: 0.45s ease-in-out;
  text-decoration: none;
  color: rgb(238, 238, 238);
}
.title a::before {
  content: 'simple';
  letter-spacing: 0.20rem;
  position: absolute;
  font-size: 0.9rem;
  font-weight: 200;
  top: -10px;
  left: 45px;
  opacity: 0;
  transform: skew(-5deg);
  transition: 0.45s ease-in;
}
.title a:hover::before{
  opacity: 1;
}